.agency-service {
  background-color: $second-main-color;
  padding-block: 120px;
  @include contentPaddingInline;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include onDeskTop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // gap: 24px;

    justify-content: space-between;
    gap: 20px;
    padding-top: 250px;
    // width: 100%;
  }

  &__wraper {
    grid-column: 1/5;

    @include onTablet {
      grid-column: 1/4;
    }

    @include onDeskTop {
      grid-column: 1/5;
      // grid-row: 1;
    }
  }

  &__options-container {
    display: grid;

    @include onTablet {
      grid-gap: 30px;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 8fr);
    }

    @include onDeskTop {
      grid-column: 7/13;
      // grid-row: 1;
      gap: 20px;
      max-width: 558px;
      // justify-self: end;
    }
  }

  &__options {
    transition: $effectDuration;
    // transition: $effectDuration;

    &:hover {
      transform: scale(1.2);
      transition: $effectDuration;
    }


    background-color: $main-background-color;
    border-radius: 24px;
    font-weight: 600;
    margin-bottom: 24px;

    @include onDeskTop {
      min-width: 214px;
      // mib-width: 264px;
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDeskTop {
      margin-bottom: 20px;
    }

    height: 264px;
  }

  &__number {
    font-family: Popins;
    font-size: 13px;
    line-height: 19.5px;

    display: inline-block;
    border-radius: 23px;
    margin-left: 32px;
    margin-top: 32px;
    padding-block: 2px;
    padding-inline: 12px;
    background-color: $second-main-color;
  }

  &__info {
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 19.5px;

    margin-left: 32px;
    margin-top: 24px;
    color: $main-text-color;
  }

  &__button {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 32px;
  }

  &__learn-more {
    font-family: Poppins;
    font-size: 13px;
    line-height: 22.5px;

    margin-left: 16px;
  }

  &__to-pass {
    height: 40px;
    width: 40px;
  }


  &__column-1 {
    gap: 24px;

    @include onDeskTop {
      // transform: translateY(132px);
    }
  }

  &__column-2 {
    gap: 24px;

    @include onTablet {
      position: relative;
      top: -132px;
    }

    @include onDeskTop {
      // transform: trasnlateY(150%);
      position: static;
      transform: translateY(-102px);

    }
  }
}
