.expertise {
  padding-block: 72px;
  background-color: $main-background-color;

  @include on-tablet {
    padding-block: 128px;
  }

  @include on-small-desktop {
    padding-block-end: 134px;
  }

  &__services {
    padding-inline: 54px;
    display: grid;
    row-gap: 56px;

    @include on-small-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 137px;
    }

    @include on-the-design {
      width: 1146px;
      margin: auto;
    }
  }

  &__article {
    &--1 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }

    &--2 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }

    &--3 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }
  }

  &__photo {
    display: block;
    margin: auto;
    border-radius: 16px;
  }

  &__title {
    margin-bottom: 16px;
    margin-top: 40px;
    font-family: inherit;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $main-title-color;
  }

  &__categories {
    @include on-tablet {
      margin-inline: 98px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }

    font-family: inherit;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $main-text-color;
  }
}
