.experience {
  padding-block: 72px;

  @include onTablet {
   padding-block: 128px;
  }

  @include onDeskTop {
    padding-block-end: 134px;
  }

  &__services {
    padding-inline: 54px;
    display: grid;
    row-gap: 56px;

    @include onDeskTop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 137px;
    }
  }

  &__photo {
    display: block;
    margin: auto;
    border-radius: 16px;
    // margin-inline: 20px;
  }

  &__title {
    margin-bottom: 16px;
    margin-top: 40px;
    font-family: inherit;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
  }

  &__categories {
    @include onTablet {
      margin-inline: 98px;
    }

    @include onDeskTop {
      margin-inline: 0;
    }

    font-family: inherit;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #6c788b;
  }
}
