.header {
  box-sizing: border-box;
  height: 100vh;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include on-small-desktop {
    border-end-start-radius: 200px;
  }

  &__list {
    display: none;

    @include on-small-desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__item {
    list-style: none;
    padding-inline: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include on-small-desktop {
      justify-content: space-between;
      flex-direction: row;
    }

    box-sizing: border-box;
    justify-content: space-between;
    height: 100vh;
  }

  &__background {
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    height: 100%;
    padding: 0;

    &-0 {
      background-position: unset;
      background-image: url(../images/background-photo.png);
    }

    &-1 {
      background-image: url(../images/slider-photo1.png);

      @include on-small-desktop {
        border-start-start-radius: 200px;
      }
    }

    &-2 {
      background-image: url(../images/slider-photo2.png);

      @include on-small-desktop {
        border-start-start-radius: 200px;
      }
    }

    &-3 {
      background-image: url(../images/slider-photo3.png);

      @include on-small-desktop {
        border-start-start-radius: 200px;
      }
    }
  }

  &__swiper {
    position: relative;
    width: 100vh;

    @include on-tablet {
      width: auto;
    }

    @include on-small-desktop {
      width: 100vh;
    }

    height: 100%;

    margin-right: 0 !important;
    margin-left: 0 !important;
    overflow: hidden !important;

    // these three directives !important here to override Swiper styles
  }

  &__arrow-button {
    text-decoration: none;
    font-size: 0;
  }

  &__left {
    margin-right: 16px;
    cursor: pointer;
  }

  &__right {
    cursor: pointer;
    margin-right: 24px;
  }

  &__sides {
    display: flex;
    align-items: center;
  }

  &__intro {
    flex-direction: column;
    padding-top: 16px;

    @include on-small-desktop {
      padding-top: 0;
    }

    text-transform: uppercase;

    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  &__describe {
    display: block;

    margin-bottom: 24px;
    margin-top: 8px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;

    @include on-tablet {
      margin-bottom: 32px;
    }

    @include on-small-desktop {
      margin-bottom: 0;
    }
  }

  &__top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 48px;
  }

  &__references {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__link {
    padding-bottom: 0;

    text-transform: uppercase;
    text-decoration: none;

    width: fit-content;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;

    color: $main-background-color;
    position: relative;
    display: block;

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $pink;
      height: 2px;
      width: 100%;
      border-radius: 1px;

      transition: transform $effect-duration;
      transform: scale($is-enabled-scale);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale($is-active-scale);
    }
  }

  &__center {
    padding-inline: 21px;

    @include on-tablet {
      padding-inline: 41px;
    }

    @include on-small-desktop {
      margin-top: 102px;
    }

    @include on-desktop {
      padding-inline-start: 54px;
    }

    @include on-small-desktop {
      padding-inline-start: 54px;
    }

    @include on-desktop {
      padding-inline-start: 80px;
    }

    @include on-the-design {
      padding-inline-start: 227px;
    }

    @include on-large-screens {
      padding-inline-start: 707px;
    }
  }

  &__title {
    font-size: 52px;
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 62.4px;
    color: $main-background-color;
    margin: 0;

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__button {
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 48px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    @include on-tablet {
      width: 264px;
      margin-bottom: 100px;
    }

    padding: 0 48px;
    border: 1px solid transparent;
    color: $main-background-color;
    background-color: $pink;
    transition-duration: 0.3s;

    &:hover {
      transition-duration: 0.3s;
      background-color: $button-hover-pink;
    }

    height: 50px;
    border-radius: 64px;
  }

  &__elements {
    color: $main-background-color;
    display: flex;
    position: absolute;

    z-index: 4;

    left: 20px;
    bottom: 24px;

    @include on-tablet {
      bottom: 32px;
    }

    @include on-small-desktop {
      flex-direction: row;
    }

    @include on-small-desktop {
      left: 78px;
      bottom: 48px;
      z-index: 4;
    }

    backdrop-filter: blur(3px);
    flex-direction: column;
  }

  &__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-top: 32px;
    margin-bottom: 72px;

    @include on-tablet {
      margin-top: 24px;
      margin-bottom: 56px;
    }

    @include on-small-desktop {
      margin-top: 32px;
      margin-bottom: 83px;
    }

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
}
