.menu {
  background-color: $background-color;
  font-weight: 700;

  box-sizing: border-box;
  flex-direction: column;
  // justify-content: space-between;
  // padding: 20px;
  height: 100vh;
  text-transform: uppercase;
  overflow: hidden;

  &__top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 18px 20px 48px 20px;
  }

  &__close {
    display: inline-block;
    font-size: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__hire-us {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    padding-bottom: 8px;
    border-bottom: 2px solid #ff9c8e;
    width: fit-content;

    display: block;
    margin-top: 48px;
    margin-left: 20px;
  }
}
