.menu {
  background-color: $background-color;
  font-weight: 700;
  z-index: 2;

  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  text-transform: uppercase;

  &__top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    display: inline-block;
    font-size: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__hire-us {
    text-transform: uppercase;
    text-decoration: none;
    color: $main-background-color;

    padding-bottom: 8px;
    border-bottom: 2px solid $pink;
    width: fit-content;

    display: block;
    margin-top: 48px;
    margin-left: 20px;
  }
}
