.section {
  &__title {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 16px;

    @include onTablet {
      margin-top: 148px;
    }
  }

  &-text {
    color: #253757;
    font-family: 'Open Sans';
    font-size: 24px;
    text-align: center;
    line-height: 26px;
  }
}

