.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: $main-title-color;
  font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 24px;

  @include on-tablet {
    padding-bottom: 16px;
  }

  @include content-padding-bottom;

  &--align--left {
    text-align: left;
  }

  &-little {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    color: #c0cdd7;
    padding-bottom: 16px;
  }

  &__higher {
    @include on-small-desktop {
      padding-bottom: 64px;
    }
  }
}
