.services {
  @include contentPaddingInline;

  @include onDeskTop {
    padding: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 48px;
  }

  &__paragraf {
    font-family: inherit;
    color: $main-text-color;
  }

  &--wraper {
    max-width: 296px;
    @include onTablet {
      width: 266px;
    }

    @include onDeskTop {
      padding-top: 131px;
      width: 100%;
    }
  }
}
