.single-level-section {
  background-color: $background-color;

  // border-radius: 24px !important;

  @include on-small-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  @include on-the-design {
    @include content-padding-inline();
  }

  @include on-large-screens {
    padding: 0;
  }
}

.send-message {
  grid-column: 1/6;
}

.contact-us {
  grid-column: 7/12;
}

.wrapper {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;

  &__background {
    background-color: $background-color;
  }
}
