.top-bar {
  padding-top: 18px;

  @include content-padding-inline;
  @include content-padding-bottom;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    transition: 0.3s;

    &:hover {
      transform: scale($hover-size);
    }
  }
}
