.vision {
  --vision-column: 2;

  height: 571px;
  background-color: $main-background-color;
  display: grid;
  grid-template-columns: repeat(var(--vision-column), 1fr);

  @include content-padding-inline;

  @include on-large-screens {
    padding-inline: 707px;
  }

  grid-auto-rows: min-content;

  @include on-tablet {
    background-image: url(/images/Shapes.png);

    background-position: center;

    --vision-column: 6;

    height: 740px;
  }

  @include on-small-desktop {
    --vision-column: 12;
  }

  grid-template-rows: none;
  column-gap: 24px;

  &__title {
    margin-top: 72px;

    @include on-tablet {
      margin-top: 200px;
    }

    height: min-content;
    display: grid;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 3/-3;
    }
  }

  &__describe {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-small-desktop {
      grid-column: 4/-4;
    }

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    color: $main-text-color;
  }

  &__button {
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 64px;
    color: $main-background-color;
    background-color: $pink;
    transition-duration: $effect-duration;

    &:hover {
      background-color: $button-hover-pink;
    }

    margin-top: 56px;
    grid-column: span 2;

    @include on-tablet {
      margin-top: 64px;
      width: auto;
      grid-column: 2/-2;
    }

    @include on-small-desktop {
      grid-column: 6/-6;
      width: 264px;
    }

    border: 1px solid transparent;
  }
}

.wrapper__vision {
  background-color: $main-background-color;
}
