.what-people-say {
  --column: 2;
  @include contentPaddingInline;

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(var(--column), 1fr);

  @include onTablet {
    --column: 6;
    gap: 30px;
  }

  @include onDeskTop {
    --column: 12;
    gap: 20px;
  }

  &__title {
    grid-column: 1/3;

    @include onTablet {
      grid-column: 1/-1
    }
  }

  &__wraper {
    grid-column: 1/3;

    @include onTablet {
      grid-column: 1/-1
    }

    @include onDeskTop {
      display: flex;

      gap: 20px;
    }
  }

  &__opinion {
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 24px;

    &--1 {
      @include onDeskTop {
        grid-column: 1/5;
      }
    }

    &--1 {
      @include onDeskTop {
        grid-column: 1/5;
        background-color: black;
      }
    }

    &--2 {
      @include onDeskTop {
        grid-column: 5/9;
      }
    }

    &--3 {
      @include onDeskTop {
        grid-column: 10/13;
      }
    }
  }

  &__photo {
    border-radius: 50%;
    display: block;
    margin: auto;
    position: relative;
    // top: 75px;
    z-index: 10;
    width: 110px;
    height: 110px;

    @include onTablet {
      width: 140px;
      height: 140px;
    }
  }

  &__lapps {
    display: block;
    margin: auto;
    margin-top: 67px;
  }

  &__info {
    font-family: 'Open Sans';
    padding-top: 8px;
    margin-inline: 42px;

    @include onTablet {
      margin-inline: 98px;
    }

    text-align: center;
    padding-bottom: 32px;
  }

  &__main-text {
    color: #6c788b;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
  }

  &__name {
    padding-top: 32px;
    color: #253757;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
  }

  &__position {
    padding-top: 4px;
    font-family: Poppins;
    color: #c0cdd7;
    font-weight: 700;
    letter-spacing: 3px;
  }
}

.photo-frame {
  position: relative;
  margin: auto;
  padding-top: 75px;
  width: 110px; /* Задайте бажану ширину рамки */
  height: 110px; /* Задайте бажану висоту рамки */

  @include onTablet {
    width: 140px;
    height: 140px;
  }
}

.photo-frame::before,
.photo-frame::after {
  content: "";
  position: absolute;
  width: 44px; /* Розмір кута */
  height: 109px; /* Розмір кута */

  @include onTablet {
    width: 56px;
    height: 139px;
  }

  background-color: #007bff; /* Колір кута */
  transform: rotate(30deg);
  border-radius: 12px;
}

.photo-frame::before {
  top: 41px;
  left: -6px;

  @include onTablet {
    left: -10px;
    top: 35px;
  }
}

.photo-frame::after {
  bottom: -34px;
  right: -7px;

  @include onTablet {
    bottom: -40px;
    right: -9px;
  }
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
