$c-gray: #eee;
$background-color: #008aff;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$main-text-color: #6c788b;
$main-title-color: #253757;

$main-background-color: #fff;

$second-main-color: #f2f6fa;
$pink: #ff9c8e;
